body{
    height: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    height: 480px;
    width: 720px;
    
}
.container > div{
    height: 33.33333333333333%;
    
}
.top{
    background-color:#FF9933 ;   
}
.center{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}
.ashokachakra{
    position: absolute;
    background-color: #000080;
    height: 150px;
    width: 150px;
    right: 35%;
    border-radius: 50%;
}
.bottom{
    background-color: #138808;
}